/*
 Theme Name:   Divi Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     Divi
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
@import "../Divi/style.css";
@media (max-width: 980px) {
	.et_header_style_left #logo {
		max-width: 75%;
	}
}
#top-header {
    height: 32px;
}
#et-info {
    float:none;
}
.wrapper-info {
    float: right;
}

@media screen and (max-width: 580px) {
    .wrapper-info {
        float: none;
    }
}

textarea{
	resize: vertical !important;
}   

.et_pb_contact_message {
	min-height: 100px;
}

/* Button */
.white-button, .white-button-form button {
	color: #fff;
}
.white-button, .white-button:hover, .white-button-form button , .white-button-form button:hover{
	padding: 10px 40px !important;
}

.white-button:hover, .white-button-form button:hover{
	color: #4b5356;
}


/* Global Headings */
body #page-container h1,body #page-container h2,body #page-container h3,body #page-container h4,body #page-container h5,body #page-container h6 {
    text-transform: uppercase;
}

body #page-container h1 {
    font-size: 40px;
}

body #page-container h2 {
    font-size: 30px;
    font-weight: 800;
}

body #page-container h3 {
    font-size: 20px;
}

body #page-container h4 {
    font-size: 18px;
}

@media screen and (max-width:768px) {

    body #page-container h1 {
        font-size: 38px;
    }

    body #page-container h2 {
        font-size: 26px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 16px;
    }
}


@media screen and (max-width:420px) {

    body #page-container h1 {
        font-size: 34px;
    }

    body #page-container h2 {
        font-size: 24px;
    }

    body #page-container h3 {
        font-size: 18px;
    }

    body #page-container h4 {
        font-size: 14px;
    }
	.white-button, .white-button:hover, .white-button-form button , .white-button-form button:hover{
		padding: 10px 25px !important;
	}
}
/* Footer */
#footer-info {
	float: none;
	text-align:center;
}

/* General mobile break */
@media screen and (min-width: 768px)  {
	.mobile-break { display: none; }
}

/* ###### SEARCH RESULT PAGE ###### */

@media (min-width: 981px) {
.search #left-area {
	width: 64.833%;
}

.search #sidebar {
	width: 29.666%;
	border-left: 1px solid #e2e2e2;
}

.search #main-content .container:before {
    display: none !important;
}}

.search .et_pb_post a img {
    padding-bottom: 25px;
}

.search h2 {
	font-size: 34px;
	font-weight: bold;
}

.search h4.widgettitle {
	font-size: 22px;
	font-weight: bold;
}

.search #sidebar .et_pb_widget {
	padding: 25px;
}

.search #content-area {
	padding-bottom: 50px;
}

.search #sidebar .et_pb_widget {
	margin-bottom: 0;
}

.widget_search #searchsubmit {
	width: 100px;
}

.heading-category {
	font-family: 'Montserrat';
	font-weight: 700;
	line-height: 1.3em;
}

.heading-category a {
	color: #353740!important;
}

div, p, span, em, i {
	font-family: Raleway;
}
